<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Header</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="header">
    <div th:fragment="header" class="header">
    <div></div>
    <div class="center">
        <a th:href="@{/}" href="#">Home</a>
    </div>
    <div>
        <a th:href="@{api/user/login-page}" href="#" class="login-button">로그인</a>
    </div>
        <div>
            <a th:href="@{/api/user/signup-page}" href="#" class="login-button">회원가입</a>
        </div>
</div>
</div>
</body>
</html>