<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Store Management</title>
  <link rel="stylesheet" href="/css/styles.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<div th:replace="header :: header"></div>

<div style="display: flex;">
  <!-- Aside Section -->
  <div th:replace="aside :: aside"></div>

  <div class="seller-management-content"
       style="
     height: 600px;
     width: 800px;
     "
  >
    <h1>Store Management</h1>

    <input type="text" id="productName" placeholder="Product Name">
    <input type="number" id="price" placeholder="Price">
    <input type="number" id="stock" placeholder="Stock">
    <input type="text" id="info" placeholder="Info">
    <button onclick="createProduct()">Create Product</button>

    <div id="listContainer"></div>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/storeManagement.js"></script>

<script>
  function createProduct() {
    const productName = document.getElementById('productName').value;
    const price = document.getElementById('price').value;
    const stock = document.getElementById('stock').value;
    const info = document.getElementById('info').value;

    const requestDto = {
      productName: productName,
      price: parseInt(price),
      stock: parseInt(stock),
      info: info
    };

    const formData = new FormData();
    formData.append('requestDto', JSON.stringify(requestDto));

    fetch('/api/seller/product', {
      method: 'POST',
      headers: {
        // Ensure the correct Content-Type header for FormData
        'Content-Type': 'multipart/form-data'
        // Add any other required headers here, e.g., authentication token
      },
      body: formData
    })
            .then(response => response.json())
            .then(data => {
              console.log('Product created:', data);
              // Update the UI or display a success message as needed
            })
            .catch(error => console.error('Error creating product:', error));
  }
</script>
</body>
</html>